.vscode/docs/figura/_deprecated.lua
.vscode/vscodedocs.tar.gz
.vscode/docs/figura/_global.lua
.vscode/docs/figura/.version
.vscode/docs/figura/_meta/version.lua
.vscode/docs/figura/action_wheel/action.lua
.vscode/docs/figura/action_wheel/alias.lua
.vscode/docs/figura/action_wheel/api.lua
.vscode/docs/figura/action_wheel/page.lua
.vscode/docs/figura/animations/alias.lua
.vscode/docs/figura/animations/animation.lua
.vscode/docs/figura/animations/api.lua
.vscode/docs/figura/avatar/alias.lua
.vscode/docs/figura/avatar/api.lua
.vscode/docs/figura/client/alias.lua
.vscode/docs/figura/client/api.lua
.vscode/docs/figura/config/api.lua
.vscode/docs/figura/data/alias.lua
.vscode/docs/figura/data/api.lua
.vscode/docs/figura/data/buffer.lua
.vscode/docs/figura/data/future.lua
.vscode/docs/figura/data/stream.lua
.vscode/docs/figura/events/alias.lua
.vscode/docs/figura/events/api.lua
.vscode/docs/figura/events/event.lua
.vscode/docs/figura/file/api.lua
.vscode/docs/figura/host/alias.lua
.vscode/docs/figura/host/api.lua
.vscode/docs/figura/json/api.lua
.vscode/docs/figura/json/jsonbuilder.lua
.vscode/docs/figura/json/jsonserializer.lua
.vscode/docs/figura/json/jsontype.lua
.vscode/docs/figura/keybind/alias.lua
.vscode/docs/figura/keybind/api.lua
.vscode/docs/figura/keybind/keybind.lua
.vscode/docs/figura/matrices/alias.lua
.vscode/docs/figura/matrices/api.lua
.vscode/docs/figura/matrices/matrix.lua
.vscode/docs/figura/models/alias.lua
.vscode/docs/figura/models/modelpart.lua
.vscode/docs/figura/models/rendertask.lua
.vscode/docs/figura/models/vertex.lua
.vscode/docs/figura/nameplate/api.lua
.vscode/docs/figura/nameplate/nameplate.lua
.vscode/docs/figura/net/alias.lua
.vscode/docs/figura/net/api.lua
.vscode/docs/figura/net/httprequestbuilder.lua
.vscode/docs/figura/net/httpresponse.lua
.vscode/docs/figura/net/socket.lua
.vscode/docs/figura/particles/api.lua
.vscode/docs/figura/particles/particle.lua
.vscode/docs/figura/pings/alias.lua
.vscode/docs/figura/pings/api.lua
.vscode/docs/figura/player/alias.lua
.vscode/docs/figura/player/entity.lua
.vscode/docs/figura/raycast/alias.lua
.vscode/docs/figura/raycast/api.lua
.vscode/docs/figura/renderer/api.lua
.vscode/docs/figura/resources/api.lua
.vscode/docs/figura/sounds/api.lua
.vscode/docs/figura/sounds/sound.lua
.vscode/docs/figura/textures/alias.lua
.vscode/docs/figura/textures/api.lua
.vscode/docs/figura/textures/texture.lua
.vscode/docs/figura/textures/textureatlas.lua
.vscode/docs/figura/vanilla_model/api.lua
.vscode/docs/figura/vanilla_model/vanillapart.lua
.vscode/docs/figura/vectors/alias.lua
.vscode/docs/figura/vectors/api.lua
.vscode/docs/figura/vectors/vector.lua
.vscode/docs/figura/world/alias.lua
.vscode/docs/figura/world/api.lua
.vscode/docs/figura/world/biome.lua
.vscode/docs/figura/world/blockstate.lua
.vscode/docs/figura/world/itemstack.lua
.vscode/docs/lua/basic.lua
.vscode/docs/lua/builtin.lua
.vscode/docs/lua/math.lua
.vscode/docs/lua/package.lua
.vscode/docs/minecraft/_meta/biomes.lua
.vscode/docs/minecraft/_meta/blocks.lua
.vscode/docs/minecraft/_meta/client.lua
.vscode/docs/minecraft/_meta/dimensions.lua
.vscode/docs/minecraft/_meta/effects.lua
.vscode/docs/minecraft/_meta/enchantments.lua
.vscode/docs/minecraft/_meta/entities.lua
.vscode/docs/minecraft/_meta/items.lua
.vscode/docs/minecraft/_meta/keybind.lua
.vscode/docs/minecraft/_meta/lang.lua
.vscode/docs/minecraft/_meta/particles.lua
.vscode/docs/minecraft/_meta/properties.lua
.vscode/docs/minecraft/_meta/screen.lua
.vscode/docs/minecraft/_meta/server.lua
.vscode/docs/minecraft/_meta/shader.lua
.vscode/docs/minecraft/_meta/slot.lua
.vscode/docs/minecraft/_meta/sounds.lua
.luarc.json
.vscode/avatar.schema.json
.vscode/settings.json
Example Avatar - Contains Everything/profiler.lua
